* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #0f0f0f;
    color: white;
    overflow-x: hidden;
}

::selection {
    background: #00ff88;
    color: black;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: #00ff88;
    border-radius: 10px;
}