.header {
    position: fixed;
    width: 100%;
    padding: 20px 8%;
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    background: rgba(15,15,15,0.7);
    z-index: 1000;
}

.logo span {
    color: #00ff88;
}

nav a {
    margin-left: 25px;
    text-decoration: none;
    color: white;
    position: relative;
}

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   